#Ignore all pycache folders
__pycache__/

#Ignore all debugger config folders
test.out.dSYM

#Ignore all .vscode folders
.vscode/

#Ignore test files
test.py
test2.py
test.cpp
test2.cpp
test.out
test2.out

#Ignore .DS_Store
.DS_Store

#Ignore log file
log.txt

#Ignore benchmark script
benchmark.sh

#Ignore all other stuff
topdf/
topdf.py
myenv/
